services:
  db:
    image: mariadb:10.11
    container_name: laravel_mysql_dev
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  app:
    build: .
    container_name: laravel_app_dev
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./app:/var/www/
      - ./.env:/var/www/.env
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    container_name: laravel_nginx_dev
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./app:/var/www/
      - ./docker/nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: laravel_phpmyadmin_dev
    restart: unless-stopped
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: ${DB_PASSWORD}
    ports:
      - "8080:80"
    depends_on:
      - db

volumes:
  mysql_data: